DATABASE_URL=postgres://{{ pg_devt_user }}:{{ pg_devt_password }}@huettenbau-oberi-prod_postgres:5432/{{ devt_database_name }}

PAYLOAD_SECRET=CHANGE_ME
NEXT_PUBLIC_SERVER_URL=https://dev.huettenbau-oberi.ch

CRON_SECRET=CHANGE_ME
PREVIEW_SECRET=CHANGE_ME
