DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

PAYLOAD_SECRET=CHANGE_ME
NEXT_PUBLIC_SERVER_URL=https://dev.huettenbau-oberi.ch

CRON_SECRET=CHANGE_ME
PREVIEW_SECRET=CHANGE_ME
