DATABASE_URL=postgres://{{ pg_prod_user }}:{{ pg_prod_password }}@huettenbau-oberi-prod_postgres:5432/{{ prod_database_name }}

PAYLOAD_SECRET=CHANGE_ME
NEXT_PUBLIC_SERVER_URL=https://huettenbau-oberi.ch

CRON_SECRET=CHANGE_ME
PREVIEW_SECRET=CHANGE_ME
