api:
  dashboard: {{ 'true' if traefik_dashboard_auth else 'false' }}

log:
  level: INFO

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

certificatesResolvers:
  cloudflare:
    acme:
      email: contact@geeler.net
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 10
        disablePropagationCheck: true
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

tls:
  options:
    default:
      sniStrict: true
